includeConfig "$baseDir/params.config"

process {
  queue = 'biocore-el7,long-sl7,short-sl7'
  memory='12G'
  container = 'biocorecrg/trinity_assembly:0.6'
  withLabel: big_cpus {
        cpus = 1
        memory = '12G'
  }
  withLabel: big_mem_cpus {
        cpus = 1
        memory = '12G'
        time = '6h'
  }
  withLabel: increase_mem {
       errorStrategy = 'retry'
       memory = {10.GB * task.attempt}
       cpus = 1
       time = {6.h * task.attempt}
       maxRetries = { task.exitStatus == 140 ? 4 : 1 }
  }	
}

singularity.enabled = true
singularity.cacheDir = "$baseDir/../singularity"
