manifest {
    mainScript = 'main.nf'
}
 
includeConfig "$baseDir/params.config"

process {
  queue = 'short-sl7,biocore-el7'
  memory='12G'
  container = 'trinityrnaseq/trinityrnaseq:latest'
  withLabel: big_mem_cpus {
        cpus = 8
        memory = '30G'
  }
  withLabel: rnaseq_cpus {
        cpus = 8
        memory = '20G'
        container = 'biocorecrg/rnaseq:1.0'
  }		
  //executor='local'
}

singularity.enabled = true
