manifest {
    mainScript = 'main.nf'
}
 
includeConfig "$baseDir/params.config"

process {
  queue = 'short-sl7,biocore-el7'
  memory='12G'
  container = 'biocorecrg/trinity_assembly:0.5'
  withLabel: big_mem_cpus {
        cpus = 38
        memory = '700G'
        time = '600h'
  }
  withLabel: increase_mem {
       errorStrategy = 'retry'
       memory = {10.GB * task.attempt}
       cpus = 1
       time = '6h'
  }	
}

singularity.enabled = true
