params {
    pairs        = "$baseDir/../test_data2/*_{1,2}.fq.gz"
    output       = "output"
    minsize      = 40
    splitsize    = 5
    strandness   = "RF"
    maxIntron    = 10000
    geneticode   = "Universal"
    minProtSize  = 100
    genome       = "$baseDir/../anno/GRCh38.p12.genome.fa.gz"
    annotation   = "$baseDir/../anno/gencode.v30.annotation.gtf"
    email        = "YOUREMAIL@YOURDOMAIN"
}
