params {
    single      = "NO"
    strandness  = "FR"
    pairs       = "$baseDir/../test_data/*_{1,2}.fq.gz"
    transcripts = "$baseDir/../assembly/output/Assembly/Trinity.fasta"
    transmap    = "$baseDir/../assembly/output/Assembly/Trinity.fasta.gene_trans_map"
    output      = "$baseDir/output"
    email       = ""
}
