params {
    cdss = "$baseDir/../assembly/output/Assembly/longest_orfs.cds"
    peps = "$baseDir/../assembly/output/Assembly/longest_orfs.pep"
    gff3 = "$baseDir/../assembly/output/Assembly/longest_orfs.gff3"
    transcripts = "$baseDir/../assembly/output/Assembly/Trinity.fasta"
    output = "output"
    geneticode = "Universal"
    batch_pfam = 2000
    batch_diam = 5000
    minProtSize = 100
    diamondDB  = "/nfs/db/uniprot/2018_10/knowledgebase/complete/blast/db/uniprot_sprot.fasta"
    pfamDB = "/nfs/db/pfam/Pfam31.0/Pfam-A.hmm"
    email   = ""
}
